In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix, accuracy_score, ConfusionMatrixDisplay, mean_squared_error
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
from sklearn.tree import plot_tree
from sklearn.ensemble import GradientBoostingRegressor

#### Cogiendo las bases

In [2]:
df = pd.read_csv('data/train.csv')
df.head()
df = df.drop(columns=['id'])

In [3]:
dff = pd.read_csv('data/features5clean.csv')
dff.head()

   carat  cut  color  clarity  depth  table     x     y     z
0   1.01    3      4        5   62.7   58.0  6.36  6.31  3.97
1   0.60    2      4        4   64.3   57.0  5.31  5.38  3.43
2   1.60    3      3        2   59.4   59.0  7.55  7.60  4.50
3   0.30    3      1        5   63.5   58.0  4.27  4.24  2.70
4   1.00    3      5        2   62.8   57.0  6.37  6.44  4.02

In [4]:
dftest = pd.read_csv('data/test5clean.csv')
dftest.head()

   carat  cut  color  clarity  depth  table     x     y     z
0   2.01    5      3        3   61.9   57.0  8.14  8.05  5.01
1   0.49    2      7        5   57.5   60.0  5.18  5.25  3.00
2   1.03    3      5        3   58.6   62.0  6.65  6.60  3.88
3   0.90    3      6        3   63.0   56.0  6.11  6.15  3.86
4   0.59    5      7        3   62.5   55.0  5.35  5.40  3.36

In [5]:
dftest1 = pd.read_csv('data/test5clean-Copy1.csv')
dftest1.head()

   carat  cut  color  clarity  depth  table     x     y     z
0   2.01    5      3        3   61.9   57.0  8.14  8.05  5.01
1   0.49    2      7        5   57.5   60.0  5.18  5.25  3.00
2   1.03    3      5        3   58.6   62.0  6.65  6.60  3.88
3   0.90    3      6        3   63.0   56.0  6.11  6.15  3.86
4   0.59    5      7        3   62.5   55.0  5.35  5.40  3.36

X = dff
y = df.price#### Creando modelo

In [6]:
X = dff
y = df.price

In [7]:
model = GradientBoostingRegressor(max_depth=9, max_features=6, min_samples_split=11)

In [8]:
model.fit(X, y)

GradientBoostingRegressor(max_depth=9, max_features=6, min_samples_split=11)

In [9]:
dftest1["price1"] = model.predict(dftest)

In [10]:
model1 = GradientBoostingRegressor(max_depth=8, max_features=8, min_samples_split=9, n_estimators=200)

In [11]:
model1.fit(X, y)

GradientBoostingRegressor(max_depth=8, max_features=8, min_samples_split=9,
                          n_estimators=200)

In [12]:
dftest1["price2"] = model1.predict(dftest)

In [13]:
model2 = GradientBoostingRegressor(max_depth=9, max_features=7, min_samples_split=11)

In [14]:
model2.fit(X, y)

GradientBoostingRegressor(max_depth=9, max_features=7, min_samples_split=11)

In [15]:
dftest1["price3"] = model2.predict(dftest)

In [16]:
model3 = GradientBoostingRegressor(max_depth=8, max_features=8, min_samples_split=5, n_estimators=250)

In [17]:
model3.fit(X, y)

GradientBoostingRegressor(max_depth=8, max_features=8, min_samples_split=5,
                          n_estimators=250)

In [18]:
dftest1["price4"] = model3.predict(dftest)

In [19]:
model4 = GradientBoostingRegressor(max_depth=9, max_features=6, min_samples_split=7)

In [20]:
model4.fit(X, y)

GradientBoostingRegressor(max_depth=9, max_features=6, min_samples_split=7)

In [21]:
dftest1["price5"] = model4.predict(dftest)

In [22]:
model5 = GradientBoostingRegressor(max_depth=9, max_features=6, min_samples_split=7, n_estimators=300)

In [23]:
model5.fit(X, y)

GradientBoostingRegressor(max_depth=9, max_features=6, min_samples_split=7,
                          n_estimators=300)

In [24]:
dftest1["price6"] = model5.predict(dftest)

In [25]:
dftest1

,carat,cut,color,clarity,depth,table,x,y,z,price1,price2,price3,price4,price5,price6
0,2.01,5,3,3,61.9,57.0,8.14,8.05,5.01,9.695353,9.706003,9.695376,9.698196,9.693154,9.689086
1,0.49,2,7,5,57.5,60.0,5.18,5.25,3.00,7.335150,7.318645,7.293761,7.253044,7.283128,7.307303
2,1.03,3,5,3,58.6,62.0,6.65,6.60,3.88,8.506346,8.509287,8.503822,8.508583,8.497052,8.506527
3,0.90,3,6,3,63.0,56.0,6.11,6.15,3.86,8.345417,8.327210,8.342378,8.344692,8.344283,8.341182
4,0.59,5,7,3,62.5,55.0,5.35,5.40,3.36,7.500815,7.503857,7.504341,7.516161,7.487948,7.490318
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13480,0.41,2,5,1,63.8,57.0,4.72,4.69,3.00,6.389693,6.454293,6.496285,6.502745,6.444970,6.469765
13481,2.05,3,3,4,63.5,62.0,8.05,7.91,5.07,9.545904,9.551442,9.538514,9.621032,9.539074,9.546319
13482,2.22,3,2,4,60.5,59.0,8.41,8.37,5.08,9.739885,9.754620,9.741378,9.766103,9.735257,9.747571
13483,0.51,5,6,2,58.3,62.0,5.20,5.19,3.04,7.072676,7.086033,7.082132,7.051095,7.080789,7.094751
13484,0.46,3,6,5,61.7,59.0,4.93,4.96,3.05,7.260606,7.246043,7.255562,7.258451,7.248557,7.269246

In [26]:
dftest1["price"] = dftest1[["price1","price2","price3","price4","price5", "price6"]].mean(axis=1)

In [27]:
dftest1

,carat,cut,color,clarity,depth,table,x,y,z,price1,price2,price3,price4,price5,price6,price
0,2.01,5,3,3,61.9,57.0,8.14,8.05,5.01,9.695353,9.706003,9.695376,9.698196,9.693154,9.689086,9.696195
1,0.49,2,7,5,57.5,60.0,5.18,5.25,3.00,7.335150,7.318645,7.293761,7.253044,7.283128,7.307303,7.298505
2,1.03,3,5,3,58.6,62.0,6.65,6.60,3.88,8.506346,8.509287,8.503822,8.508583,8.497052,8.506527,8.505269
3,0.90,3,6,3,63.0,56.0,6.11,6.15,3.86,8.345417,8.327210,8.342378,8.344692,8.344283,8.341182,8.340860
4,0.59,5,7,3,62.5,55.0,5.35,5.40,3.36,7.500815,7.503857,7.504341,7.516161,7.487948,7.490318,7.500573
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13480,0.41,2,5,1,63.8,57.0,4.72,4.69,3.00,6.389693,6.454293,6.496285,6.502745,6.444970,6.469765,6.459625
13481,2.05,3,3,4,63.5,62.0,8.05,7.91,5.07,9.545904,9.551442,9.538514,9.621032,9.539074,9.546319,9.557047
13482,2.22,3,2,4,60.5,59.0,8.41,8.37,5.08,9.739885,9.754620,9.741378,9.766103,9.735257,9.747571,9.747469
13483,0.51,5,6,2,58.3,62.0,5.20,5.19,3.04,7.072676,7.086033,7.082132,7.051095,7.080789,7.094751,7.077913
13484,0.46,3,6,5,61.7,59.0,4.93,4.96,3.05,7.260606,7.246043,7.255562,7.258451,7.248557,7.269246,7.256411

In [28]:
attempboost3all = dftest1[["price"]]

In [29]:
attempboost3all.to_csv('data/attempboost13.csv', index=True)

In [30]:
df11 = pd.read_csv('data/attempboost13.csv')
df11.head()

   Unnamed: 0     price
0           0  9.696195
1           1  7.298505
2           2  8.505269
3           3  8.340860
4           4  7.500573

In [31]:
df11["id"] = df11[["Unnamed: 0"]]

In [32]:
df11 = df11[["id", "price"]]

In [33]:
df11.to_csv('data/attempboost13.csv', index=False)

In [34]:
df11.shape

(13485, 2)